* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

h1 {
	margin: 2em auto 1.5em;
	text-align: center;
	color: hsla(0, 0%, 0%, 75%);
}

ul {
	list-style-type: none;
}

.outer-container {
	max-width: 90%;
	overflow: clip;
	margin: 0 auto;
	position: relative;
	mask-image: linear-gradient(
		to right,
		transparent 0%,
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 1) 90%,
		transparent 100%
	);
}

.image-track {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	gap: 15px;
	padding: 0 calc(50% - 100px);
	height: 210px;
}

.image-track::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.image-track {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.image-track img {
	transition: scale ease-in 0.15s;
}

.image-track img:hover {
	scale: 103%;
}

.dot-container {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.dot {
	border-radius: 50%;
	background-color: grey;
	height: 10px;
	aspect-ratio: 1/1;
	cursor: pointer;
	transition: all 0.25s ease-in;
}

.dot:hover {
	background-color: darkslategrey;
}

.active-dot {
	height: 15px;
	background-color: lightgrey;
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	margin-top: 50px;
}

.icon-container svg {
	fill: grey;
	height: 50px;
	width: 50px;
	display: block;
	cursor: pointer;
	transition: scale ease-in 0.2s;
}

.icon-container svg:hover {
	scale: 105%;
	fill: darkslategrey;
}

.active-icon {
	fill: lightgrey;
}
